<% layout('layout') -%>
<% block('head').append('<link rel="stylesheet" href="stylesheet/detail.css">') %> 
<div class="hero-wrapper">
  <div class="hero">
    <div class="img">
      <img src="<%= product.img %>" alt="">
    </div>
    <div class="detail">
      <h2><%= product.name %></h2>
      <p><%= product.detail %></p>
    </div>
  </div>
</div>
<% if (success) {%>
  <div style="text-align: center;" class="form-input">
    <span style="color: green;"><%= success %></span> 
  </div>
<% } %> 
<% if (error) {%>
  <div style="text-align: center;" class="form-input">
    <span style="color: red;"><%= error %></span> 
  </div>
<% } %> 
<% if (userId) { %>
  <div class="question-form-wrapper">
    <div class="question-form">
      <h2>for ask question</h2>
      <form action="/question/<%= product._id %>" method="post">
        <div class="form-input">
          <input autocomplete="off" name="question" type="text" placeholder="Question">
        </div>
        <div class="form-input">
          <input type="submit" value="Send Question">
        </div>
      </form>
    </div>
  </div>
<% } %>

<% const questions = product.questions %> 

<% if (questions.length > 0) { %>
  <div class="question-wrapper">
    <div class="question-container">
      <h2>Q&A</h2>
      <% for (q of questions) {%> 
        <div class="question">
          <h3>Q: <%= q.question %> <span class="right"><%= moment(q.dateAsk, 'hh:mm, DD-MM-YYYY').fromNow() %>
          <% if(admin) {%> 
            &nbsp;
            <form class="right delete" action="/delete/<%= q._id %>" method="post">
              <input type="submit" value="Delete"></input>
              <input type="hidden" name="productId" value="<%= product._id %>">
            </form>
          </span>
          <% } %> 
          </h3>
        <% if(q.answer) {%>
          <h4>A: <%= q.answer %> <span class="right"><%= moment(q.dateReplied, 'hh:mm, DD-MM-YYYY').fromNow() %></span></h4>
        <% }else {%>
          <h4>No answer
            <% if(admin) {%> 
              <a onclick="showModel('<%= q._id %>', '<%= q.question %>');" class="right reply">Reply</a>
            <% } %> 
          </h4>
        <% } %>  
        </div>
      <% } %> 
    </div>
  </div>
<% } %>

<!-- Model -->
<div id="model-wrapper">
  <form action="" method="post">
    <h2>Reply<span id="close">&times;</span></h2>
    <h3 id="question"></h3>
    <input type="text" name="answer" placeholder="Answer">
    <input type="hidden" name="productId" value="<%= product._id %>">
  </form>
</div>


<% block('footer').append('<script src="javascript/model.js"></script>') %> 
